Repository SinergiaTIC/SinergiaDA, pull requests merged in 2023-11, with the labels that each got.

#30 SDA #26 - Hotfix - Solo aparecen agregaciones en campos de tipo numeric
  eda/eda_api/lib/module/datasource/datasource.controller.ts
  eda/eda_api/lib/module/global/model/aggregation-types.ts
  eda/eda_api/lib/module/updateModel/updateModel.controller.ts
  eda/eda_api/lib/services/connection/db-systems/bigquery-connection.ts
  eda/eda_api/lib/services/connection/db-systems/json-webservice-connection.ts
  eda/eda_api/lib/services/connection/db-systems/mysql-connection.ts
  eda/eda_api/lib/services/connection/db-systems/oracle-connection.ts
  eda/eda_api/lib/services/connection/db-systems/pg-connection.ts
  eda/eda_api/lib/services/connection/db-systems/slqserver-connection.ts
  eda/eda_api/lib/services/connection/db-systems/snowflake-connection.ts
  eda/eda_api/lib/services/connection/db-systems/vertica-connection.ts
  eda/eda_api/lib/services/query-builder/qb-systems/bigquery-builder.service.ts
  eda/eda_api/lib/services/query-builder/qb-systems/mySql-builder.service.ts
  eda/eda_api/lib/services/query-builder/qb-systems/oracle-builder.service.ts
  eda/eda_api/lib/services/query-builder/qb-systems/pg-builder-service.ts
  eda/eda_api/lib/services/query-builder/qb-systems/snowflake-builder.service.ts
  eda/eda_api/lib/services/query-builder/qb-systems/sqlserver-builder-service.ts
  eda/eda_api/lib/services/query-builder/query-builder.service.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/column-dialog/column-dialog.component.html
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/column-dialog/column-dialog.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.html
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/panel-interaction-utils.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/query-utils.ts
  eda/eda_app/src/app/module/pages/data-sources/data-source-detail/data-source-detail.component.html
  eda/eda_app/src/app/module/pages/data-sources/data-source-detail/viewDialog/view-dialog.component.ts
  eda/eda_app/src/app/services/api/datasource.service.ts
  eda/eda_app/src/app/services/utils/query-builder.service.ts
  eda/eda_app/src/app/shared/models/dashboard-models/column.model.ts
Labels: enhancement

#33 SDA #106 - Hotfix - Colores
  eda/eda_app/src/app/module/components/eda-chart/eda-chart.component.ts
Labels: bug, eda

#32 SDA #100 - Hotfix - Filtro de tipo fecha aparece sin formato
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.html
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.ts
Labels: bug, eda

#35 SDA #120 - Enhancement - Cambio color de botón entrar
  eda/eda_app/src/app/core/pages/login/login.component.css
  eda/eda_app/src/app/core/pages/login/login.component.html
  eda/eda_app/src/app/core/pages/login/login.component.scss
  eda/eda_app/src/index.html
Labels: enhancement, SinergiaDA

#34 SDA #60 - Hotfix - Filtrado con valores no repetidos en desplegables de filtrado
  eda/eda_api/lib/services/query-builder/qb-systems/mySql-builder.service.ts
  eda/eda_api/lib/services/query-builder/query-builder.service.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/column-dialog/column-dialog.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/filter-dialog/filter-dialog.component.ts
  eda/eda_app/src/app/module/pages/dashboard/dashboard.component.ts
  eda/eda_app/src/app/services/utils/query-builder.service.ts
  eda/eda_app/src/app/shared/models/dashboard-models/query.model.ts
Labels: bug, eda
