Repository SinergiaTIC/SinergiaDA, pull requests merged in 2024-09, with the labels that each got.

#156 Improvement - APP Sda#160 Conservar representación y estilos al editar panel
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.html
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/query-utils.ts
Labels: enhancement, EDA

#188 Feature - APP - Visualización de paneles con seguridad y sin datos
  eda/eda_api/lib/module/dashboard/dashboard.controller.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-charts/panel-chart.component.html
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-charts/panel-chart.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/query-utils.ts
  eda/eda_app/src/app/module/pages/dashboard/global-filter/global-filter.component.html
  eda/eda_app/src/app/module/pages/dashboard/global-filter/global-filter.component.ts
  eda/eda_app/src/app/module/pages/home/home.component.html
  eda/eda_app/src/locale/messages.ca.xlf
  eda/eda_app/src/locale/messages.en.xlf
  eda/eda_app/src/locale/messages.es.xlf
  eda/eda_app/src/locale/messages.gl.xlf
  eda/eda_app/src/locale/messages.pl.xlf
Labels: bug, SinergiaDA, Grupos de Seguridad

#159 Enhancement - APP + API - Nueva página de inicio
  eda/eda_api/lib/module/dashboard/dashboard.controller.ts
  eda/eda_api/lib/module/dashboard/dashboard.router.ts
  eda/eda_api/lib/module/dashboard/model/dashboard.model.ts
  eda/eda_app/angular.json
  eda/eda_app/src/app/module/pages/dashboard/dashboard.component.html
  eda/eda_app/src/app/module/pages/dashboard/dashboard.component.ts
  eda/eda_app/src/app/module/pages/home-sda/home-sda.component.css
  eda/eda_app/src/app/module/pages/home-sda/home-sda.component.html
  eda/eda_app/src/app/module/pages/home-sda/home-sda.component.scss
  eda/eda_app/src/app/module/pages/home-sda/home-sda.component.ts
  eda/eda_app/src/app/module/pages/pages.component.ts
  eda/eda_app/src/app/module/pages/pages.module.ts
  eda/eda_app/src/app/module/pages/pages.routes.ts
  eda/eda_app/src/app/services/api/dashboard.service.ts
  eda/eda_app/src/app/shared/components/create-dashboard/create-dashboard.component.ts
  eda/eda_app/src/locale/stic_messages.ca.xlf
  eda/eda_app/src/locale/stic_messages.en.xlf
  eda/eda_app/src/locale/stic_messages.es.xlf
  eda/eda_app/src/locale/stic_messages.gl.xlf
Labels: enhancement, SinergiaDA

#212 Hotfix - APP - no actualizar contraseña si no procede
  eda/eda_api/lib/module/admin/users/user.controller.ts
Labels: bug, EDA
