Repository SinergiaTIC/SinergiaDA, pull requests merged in 2024-02, with the labels that each got.

#69 Hotfix - APP - Filtros de fecha fallan en los cambios de mes
  eda/eda_app/src/app/services/utils/date-utils.service.ts
Labels: bug, EDA

#113 Hotfix - API - Potenciar las tablas incluidas en la consulta
  eda/eda_api/lib/services/query-builder/query-builder.service.ts
Labels: bug, EDA

#90 Enhancemente - APP - Creación de página informativa
  .gitignore
  eda/SdaVersion.js
  eda/eda_api/lib/module/getSdaInfo/getSdaInfo.controller.ts
  eda/eda_api/lib/module/getSdaInfo/getSdaInfo.router.ts
  eda/eda_api/lib/router.ts
  eda/eda_app/src/app/module/pages/about/about.component.css
  eda/eda_app/src/app/module/pages/about/about.component.html
  eda/eda_app/src/app/module/pages/about/about.component.scss
  eda/eda_app/src/app/module/pages/about/about.component.ts
  eda/eda_app/src/app/module/pages/pages.module.ts
  eda/eda_app/src/app/module/pages/pages.routes.ts
  eda/eda_app/src/app/shared/components/sidebar/sidebar.component.html
  eda/eda_app/src/assets/images/logos/full_logo.png
  eda/eda_app/src/assets/sass/eda-styles/components/sidebar-style.css
  eda/eda_app/src/locale/prod_messages.ca.xlf
  eda/eda_app/src/locale/prod_messages.en.xlf
  eda/eda_app/src/locale/prod_messages.es.xlf
  eda/eda_app/src/locale/prod_messages.gl.xlf
  eda/eda_app/src/locale/stic_messages.ca.xlf
  eda/eda_app/src/locale/stic_messages.en.xlf
  eda/eda_app/src/locale/stic_messages.es.xlf
  eda/eda_app/src/locale/stic_messages.gl.xlf
Labels: enhancement, SinergiaDA

#115 Hotfix - APP - Etiquetas incorrectas en totales/subtotales de columna/fila - Sda#51
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/table-dialog/table-dialog.component.ts
  eda/eda_app/src/locale/messages.ca.xlf
  eda/eda_app/src/locale/messages.en.xlf
  eda/eda_app/src/locale/messages.es.xlf
  eda/eda_app/src/locale/messages.gl.xlf
  eda/eda_app/src/locale/messages.pl.xlf
Labels: bug, EDA

#116 Hotfix - APP + API - Ocultar información de versión de la APP de EDA
  eda/eda_api/lib/module/getSdaInfo/getSdaInfo.controller.ts
  eda/eda_app/src/app/module/pages/about/about.component.html
Labels: bug, SinergiaDA
