Repository SinergiaTIC/SinergiaDA, pull requests merged in 2024-01, with the labels that each got.

#65 Hotfix - APP - Suma incorrecta en totales de fila en tablas de referencia cruzada
  eda/eda_app/src/app/module/components/eda-table/eda-table.ts
Labels: bug, EDA

#68 Hotfix - APP - Mostrar etiquetas en gráficos de barras con número negativos
  eda/eda_app/src/app/services/utils/chart-utils.service.ts
Labels: bug, EDA

#75 Hotfix - APP - No se permite la selección de color en tablas cruzadas
  eda/eda_app/src/app/module/components/eda-table/eda-table.component.ts
  eda/eda_app/src/app/services/utils/chart-utils.service.ts
Labels: bug, EDA

#80 Hotfix - APP - Propiedad errónea en ficheros de idioma
  eda/eda_app/src/locale/messages.ca.xlf
  eda/eda_app/src/locale/messages.en.xlf
  eda/eda_app/src/locale/messages.es.xlf
  eda/eda_app/src/locale/messages.gl.xlf
  eda/eda_app/src/locale/messages.pl.xlf
Labels: bug, EDA, SinergiaDA

#76 Hotfix - APP - Problemas de visualización en gráficos de barras (normales y apiladas)
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/query-utils.ts
  eda/eda_app/src/app/services/utils/chart-utils.service.ts
Labels: bug, EDA

#79 Hotfix - APP - Visualización correcta de las relaciones en el modelo de datos
  eda/eda_app/src/app/module/pages/data-sources/data-source-detail/data-source-detail.component.ts
Labels: bug, EDA

#87 Hotfix 20240125 Mostrar / Ocultar columnas no funciona
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.html
Labels: bug, SinergiaDA

#86 Hotfix - API - Representación precisa de las medias de valores con decimales
  eda/eda_api/lib/services/custom/custom.ts
  eda/eda_api/lib/services/query-builder/qb-systems/mySql-builder.service.ts
  eda/eda_api/tsconfig.json
Labels: bug, EDA
