Repository SinergiaTIC/SinergiaDA, pull requests merged in 2024-10, with the labels that each got.

#211 Incidencia - API - Respetar pertenencia a grupos al ejecutar updateModel
  eda/eda_api/lib/module/updateModel/service/usersAndGroupsToMongo.ts
Labels: bug, SinergiaDA

#215 Hotfix - API+APP - Mantener los permisos de usuario asignados sobre tablas de SinergiaDA
  eda/eda_api/lib/module/updateModel/service/cleanModel.ts
  eda/eda_app/src/app/module/pages/data-sources/data-source-detail/column-permissions-dialog/column-permission-dialog.component.ts
  eda/eda_app/src/app/module/pages/data-sources/data-source-detail/model-permissions-dialog/model-permission-dialog.component.ts
  eda/eda_app/src/app/module/pages/data-sources/data-source-detail/table-permissions-dialog/table-permission-dialog.component.ts
Labels: bug, SinergiaDA

#218 Mejora - API - Cambiar el prefijo SDA_ por SCRM_
  eda/eda_api/lib/module/updateModel/service/cleanModel.ts
  eda/eda_api/lib/module/updateModel/service/usersAndGroupsToMongo.ts
Labels: enhancement, SinergiaDA

#225 Incidencia - APP - Ordenamiento correcto de filtros de informe
  eda/eda_app/src/assets/sass/eda-styles/components/eda-blank-panel.css
Labels: bug, EDA

#227 Incidencia - APP - Almacenar número de columnas en opciones del gráfico
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/charts-config-utils.ts
Labels: bug, EDA

#210 Mejora - APP + API - Solucionar algunos warnings
  eda/eda_api/lib/server.ts
  eda/eda_app/src/app/module/pages/dashboard/dashboard.component.css
  eda/eda_app/src/app/module/pages/data-sources/data-source-detail/data-source-detail.component.ts
  eda/eda_app/src/app/module/pages/data-sources/data-source-list/data-source-list.component.css
  eda/eda_app/src/app/module/pages/data-sources/dsconfig-wrapper.component.ts
  eda/eda_app/src/app/module/pages/home/home.component.css
Labels: enhancement, EDA

#238 Mejora - API - Ocultar informes públicos a usuarios no administradores
  eda/eda_api/lib/module/dashboard/dashboard.controller.ts
  eda/eda_app/src/app/module/pages/home-sda/home-sda.component.ts
Labels: enhancement, EDA, SinergiaDA
