Repository SinergiaTIC/SinergiaDA, pull requests merged in 2025-01, with the labels that each got.

#228 Enhancement - APP - Mayor control en creación de tablas cruzadas
  eda/eda_app/src/app/module/components/components.module.ts
  eda/eda_app/src/app/module/components/drag-drop/drag-drop.component.css
  eda/eda_app/src/app/module/components/drag-drop/drag-drop.component.html
  eda/eda_app/src/app/module/components/drag-drop/drag-drop.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.html
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-charts/chart-configuration-models/table-config.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-charts/panel-chart.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/charts-config-utils.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/query-utils.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/table-dialog/table-dialog.component.ts
  eda/eda_app/src/app/module/components/eda-table/eda-table.component.ts
  eda/eda_app/src/app/module/components/eda-table/eda-table.ts
  eda/eda_app/src/app/services/utils/chart-utils.service.ts
  eda/eda_app/src/locale/messages.ca.xlf
  eda/eda_app/src/locale/messages.en.xlf
  eda/eda_app/src/locale/messages.es.xlf
  eda/eda_app/src/locale/messages.gl.xlf
  eda/eda_app/src/locale/messages.pl.xlf
Labels: bug, documentation, enhancement, EDA

#256 Enhancement - API - Establecer límite de tiempo al ejecutar consultas
  eda/eda_api/lib/services/connection/db-systems/mysql-connection.ts
Labels: documentation, enhancement, SinergiaDA

#264 Enhancement - API - Optimización básica de updateModel
  eda/eda_api/lib/module/updateModel/service/usersAndGroupsToMongo.ts
  eda/eda_api/lib/module/updateModel/updateModel.controller.ts
Labels: enhancement, SinergiaDA, Update Model

#263 Enhancement - API - Cambios para el proceso de actualización
  eda/eda_api/lib/app.ts
  eda/eda_app/package.json
Labels: SinergiaDA

#269 Enhancement - Idiomas - Incluir traducciones having/where
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/column-dialog/column-dialog.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.ts
  eda/eda_app/src/locale/messages.ca.xlf
  eda/eda_app/src/locale/messages.en.xlf
  eda/eda_app/src/locale/messages.es.xlf
  eda/eda_app/src/locale/messages.gl.xlf
Labels: enhancement, SinergiaDA, Traducciones

#254 Feature - API+APP - Posibilidad de crear tramos
  eda/eda_api/lib/services/query-builder/qb-systems/mySql-builder.service.ts
  eda/eda_api/lib/services/query-builder/query-builder.service.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/column-dialog/column-dialog.component.html
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/column-dialog/column-dialog.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/eda-blank-panel.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-charts/panel-chart.component.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/panel-interaction-utils.ts
  eda/eda_app/src/app/module/components/eda-table/eda-columns/eda-column-text.ts
  eda/eda_app/src/app/module/components/eda-table/eda-table.component.css
  eda/eda_app/src/app/module/components/eda-table/eda-table.component.html
  eda/eda_app/src/app/module/components/eda-table/eda-table.component.ts
  eda/eda_app/src/app/services/utils/query-builder.service.ts
  eda/eda_app/src/app/shared/directives/only-signs-and-numbers.directive.ts
  eda/eda_app/src/app/shared/models/dashboard-models/column.model.ts
  eda/eda_app/src/app/shared/shared.module.ts
  eda/eda_app/src/locale/messages.ca.xlf
  eda/eda_app/src/locale/messages.en.xlf
  eda/eda_app/src/locale/messages.es.xlf
  eda/eda_app/src/locale/messages.gl.xlf
  eda/eda_app/src/locale/messages.pl.xlf
Labels: documentation, enhancement, EDA, SinergiaDA, Traducciones

#271 Improvement - API - Mejorar queries de usuarios y grupos
  eda/eda_api/lib/module/updateModel/updateModel.controller.ts
Labels: bug, SinergiaDA, Update Model

#275 Enhancement - APP - Eliminar referencia al archivo de idioma .pl de angular.json
  eda/eda_app/angular.json
Labels: enhancement, SinergiaDA

#274 Hotfix - API - Relacionar correctamente usuarios y grupos en primera ejecución de UpdateModel
  eda/eda_api/lib/module/updateModel/service/usersAndGroupsToMongo.ts
Labels: bug, SinergiaDA

#276 Hotfix - API - Bug rangos en paneles anteriores a los rangos
  eda/eda_api/lib/services/query-builder/qb-systems/mySql-builder.service.ts
  eda/eda_app/src/app/module/components/eda-panels/eda-blank-panel/panel-utils/panel-interaction-utils.ts
Labels: bug, EDA
